/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, 
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*======================= End Resets============================ */

*, *:before, *:after{
  box-sizing: border-box;
}

body {  
  font-family:'Crimson Text', Georgia, Times, serif; 
  font-size:16px;
  background: url('../imgs/forest.jpg') no-repeat center center fixed;
}
strong {
  font-weight:bold;
}
h1 {
  font-size:48px;
  font-size:3rem;
  font-weight:bold;
}

h3 {
  font-size:32px;
  font-size:2rem;
  font-weight:bold;
}

.contentWrap {
  max-width:1024px;
  margin:0 auto;
  position:relative;
}

.headline {
  background-color:#ffffff;
  width:700px;
  padding:0 10px;
  opacity:0.8;
  border-radius: 2px 2px;
  margin:5px 0px;
  position:relative;
  z-index:2;
}

.headline h1 {
  opacity:1;
  display:inline-block;
}

div.settings {
  float:right;
}

div.settings a {
  text-decoration:none;
  color:#777;
  opacity:0.8;
  padding:0px 10px;
}

.settingsBox {
  background-color:#fff;
  padding:10px;
  position:absolute;
  top:54px;
  left:300px;
  width:400px;
  display:none;
}
.settingsBox h3 {
  padding:8px 0px;
}
.settingsBox p {
  padding: 0px 5px 10px 5px;
}
div.settings a:hover {
  color:#282828;
}
div.settings a:hover + .settingsBox {
  display:block;
}
.smHeadline {
  background-color:#ffffff;
  line-height:25px;
  padding:0 0 3px 5px;
  opacity:0.8; 
}
#messageDisplay {
  height:500px;
  padding:10px;
  font-size:18px;
  font-size:1.125rem;
  float:left;
  overflow-y:scroll;
  background-color:#ffffff;
  opacity:0.8;
  width:700px;
  margin:0 15px 5px 0;
  border: 1px solid #777777;
  border-radius: 2px 2px;
}
.dispMessage {
}
.original {
  margin-top:-18px;
  background:yellow;
  opacity:1;
  position:relative;
  z-index:2;
  display:none;
}
.dispMessage:hover + .original{
  display:block;
}
.original:hover {
  display:block;
}
#messageInput {
  width:700px;
  border-radius:2px 2px;
  background-color:#ffffff;
  opacity:0.8;
  color:#111;
  padding-left:10px;
  border:none;
}

.nick {
  float:left;
  width:200px;
}
.userList {
  border: 1px solid #777;
  background-color:#fff;
  height:200px;
  width:200px;
  opacity:0.8;
  margin-top:5px;
  padding:5px;
  overflow-y: auto;
  border-radius: 2px 2px;
}
.userList ul {
  opacity:1;
}

#nickInput {
  width:130px;  
  background-color:#ffffff;
  opacity:0.8;
  color:#111;
  border:none;
  border-radius: 1px 1px;
  padding-left:5px;
}

.grey {
  color:#777 !important;
}
